.scrolst{
  overflow: visible;
  overflow: auto;
  height: 600px;
}

.section {
  scrollbar-color: #d4aa70 #e4e4e4;
  height: 600px;
  overflow: auto;

}

.section::-webkit-scrollbar {
  width: 16px;
}

.section::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.section::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}



.cardWrap {
    width: 27em;
    margin: 3em auto;
    color: #fff;
    text-shadow: 1px 1px 1px black;
    font-family: sans-serif;
  }
  
  .card {
    background: linear-gradient(to bottom, #e84c3d 0%, #e84c3d 26%, #ecedef 26%, #c7cacf 100%);
    height: 11em;
    float: left;
    position: relative;
    padding: 1em;
    margin-top: 100px;
  }
  
  .cardLeft {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 16em;
  }
  
  .cardRight {
    width: 6.5em;
    border-left: 0.18em dashed #843535;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .cardRight:before, .cardRight:after {
    content: "";
    position: absolute;
    display: block;
    width: 0.9em;
    height: 0.9em;
    background: #ffffff;
    border-radius: 50%;
    left: -0.5em;
  }
  .cardRight:before {
    top: -0.4em;
  }
  .cardRight:after {
    bottom: -0.4em;
  }
  
  h1 {
    font-size: 1.1em;
    margin-top: 0;
  }
  h1 span {
    font-weight: normal;
  }
  
  .title,
  .name,
  .seat,
  .time {
    text-transform: uppercase;
    font-weight: normal;
  }
  .title h2,
  .name h2,
  .seat h2,
  .time h2 {
    font-size: 0.9em;
    text-shadow: -2px 2px 2px rgb(221, 212, 212);
    color: #2d2d2d;
    margin: 0;
  }
  .title span,
  .name span,
  .seat span,
  .time span {
    font-size: 0.7em;
    text-shadow: -2px 2px 2px rgb(221, 212, 212);
    color: #222323;
  }
  
  .title {
    margin: 2em 0 0 0;
  }
  
  .name,
  .seat {
    margin: 0.7em 0 0 0;
  }
  
  .time {
    margin: 0.7em 0 0 1em;
  }
  
  .seat,
  .time {
    float: left;
  }
  
  .eye {
    position: relative;
    width: 2em;
    height: 1.5em;
    background: #fff;
    margin: 0 auto;
    border-radius: 1em/0.6em;
    z-index: 1;
  }
  .eye:before, .eye:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
  }
  .eye:before {
    width: 1em;
    height: 1em;
    background: #e84c3d;
    z-index: 2;
    left: 8px;
    top: 4px;
  }
  .eye:after {
    width: 0.5em;
    height: 0.5em;
    background: #fff;
    z-index: 3;
    left: 12px;
    top: 8px;
  }
  
  .number {
    text-align: center;
    text-transform: uppercase;
  }
  .number h3 {
    color: #e84c3d;
    margin: 0.9em 0 0 0;
    font-size: 2.5em;
  }
  .number span {
    display: block;
    color: #2f3030;
  }
  
 